In [1]:
# libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import dataset
data = pd.read_csv('data/Boston/listings.csv')

In [3]:
print(data.shape)

(3585, 95)

In [4]:
data.iloc[:,0:10].head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ..."
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima..."
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...

In [5]:
data.iloc[:,10:20].head(3)

,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id
0,NaN,"The bus stop is 2 blocks away, and frequent. B...","You will have access to 2 bedrooms, a living r...",NaN,Clean up and treat the home the way you'd like...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,31303940
1,"If you don't have a US cell phone, you can tex...",Plenty of safe street parking. Bus stops a few...,Apt has one more bedroom (which I use) and lar...,"If I am at home, I am likely working in my hom...",Pet friendly but please confirm with me if the...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,2572247
2,I am in a scenic part of Boston with a couple ...,"PUBLIC TRANSPORTATION: From the house, quick p...","I am living in the apartment during your stay,...","ABOUT ME: I'm a laid-back, friendly, unmarried...","I encourage you to use my kitchen, cooking and...",https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,16701

In [6]:
data.iloc[:,20:30].head(3)

,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url
0,https://www.airbnb.com/users/show/31303940,Virginia,2015-04-15,"Boston, Massachusetts, United States",We are country and city connecting in our deck...,NaN,NaN,NaN,f,https://a2.muscache.com/im/pictures/5936fef0-b...
1,https://www.airbnb.com/users/show/2572247,Andrea,2012-06-07,"Boston, Massachusetts, United States",I live in Boston and I like to travel and have...,within an hour,100%,100%,f,https://a2.muscache.com/im/users/2572247/profi...
2,https://www.airbnb.com/users/show/16701,Phil,2009-05-11,"Boston, Massachusetts, United States","I am a middle-aged, single male with a wide ra...",within a few hours,100%,88%,t,https://a2.muscache.com/im/users/16701/profile...

In [7]:
data.iloc[:,30:40].head(3)

,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed
0,https://a2.muscache.com/im/pictures/5936fef0-b...,Roslindale,1,1,"['email', 'phone', 'facebook', 'reviews']",t,f,"Birch Street, Boston, MA 02131, United States",Roslindale,Roslindale
1,https://a2.muscache.com/im/users/2572247/profi...,Roslindale,1,1,"['email', 'phone', 'facebook', 'linkedin', 'am...",t,t,"Pinehurst Street, Boston, MA 02131, United States",Roslindale,Roslindale
2,https://a2.muscache.com/im/users/16701/profile...,Roslindale,1,1,"['email', 'phone', 'reviews', 'jumio']",t,t,"Ardale St., Boston, MA 02131, United States",Roslindale,Roslindale

In [8]:
data.iloc[:,40:50].head(3)

,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude
0,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.282619,-71.133068
1,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.286241,-71.134374
2,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.292438,-71.135765

In [9]:
data.iloc[:,50:60].head(3)

,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet
0,t,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",NaN
1,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN
2,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",NaN

In [10]:
data.iloc[:,60:70].head(3)

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated
0,$250.00,NaN,NaN,NaN,$35.00,1,$0.00,2,1125,2 weeks ago
1,$65.00,$400.00,NaN,$95.00,$10.00,0,$0.00,2,15,a week ago
2,$65.00,$395.00,"$1,350.00",NaN,NaN,1,$20.00,3,45,5 days ago

In [11]:
data.iloc[:,80:90].head(3)

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable
0,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f
1,10.0,9.0,10.0,10.0,9.0,9.0,f,NaN,NaN,t
2,10.0,9.0,10.0,10.0,9.0,10.0,f,NaN,NaN,f

In [12]:
data.iloc[:,90:95].head(3)

,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,moderate,f,f,1,NaN
1,moderate,f,f,1,1.30
2,moderate,t,f,1,0.47

In [13]:
# select relevant features
cols =  ['price', 'neighbourhood_cleansed', 'property_type', 'room_type','accommodates', 'bathrooms', 'bedrooms',
         'beds','bed_type','amenities','square_feet', 'cancellation_policy', 'host_since', 'host_response_time',
         'host_response_rate','host_acceptance_rate','host_is_superhost', 'host_identity_verified', 'number_of_reviews',
         'reviews_per_month','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin',
         'review_scores_communication','review_scores_location','review_scores_value']
data = data[cols]
data.head()

,price,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,...,host_is_superhost,host_identity_verified,number_of_reviews,reviews_per_month,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,$250.00,Roslindale,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",...,f,f,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,$65.00,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",...,f,t,36,1.30,10.0,9.0,10.0,10.0,9.0,9.0
2,$65.00,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",...,t,t,41,0.47,10.0,9.0,10.0,10.0,9.0,10.0
3,$75.00,Roslindale,House,Private room,4,1.0,1.0,2.0,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",...,f,f,1,1.00,10.0,10.0,10.0,10.0,10.0,10.0
4,$79.00,Roslindale,House,Private room,2,1.5,1.0,2.0,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",...,t,t,29,2.25,10.0,10.0,10.0,10.0,9.0,10.0

In [14]:
data.dtypes

price                           object
neighbourhood_cleansed          object
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
amenities                       object
square_feet                    float64
cancellation_policy             object
host_since                      object
host_response_time              object
host_response_rate              object
host_acceptance_rate            object
host_is_superhost               object
host_identity_verified          object
number_of_reviews                int64
reviews_per_month              float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
dtype: object

In [15]:
# remove dollar sign and convert to float
data['price'] = data['price'].replace('[\$,]', '', regex=True).astype(float)

In [16]:
# change name column
data = data.rename(columns={'neighbourhood_cleansed': 'neighbourhood'})

In [17]:
# host_response_rate, from % to float
data['host_response_rate'] = data['host_response_rate'].replace('[\%,]', '', regex=True).astype(float)

# host_acceptance_rate, from % to float
data['host_acceptance_rate'] = data['host_acceptance_rate'].replace('[\%,]', '', regex=True).astype(float)

In [18]:
def DaysPassed(col, df):
    # convert to datetime dtype
    df[col] = pd.to_datetime(df[col])
    
    # date when the dataset was scrapped
    last_scraped = pd.to_datetime("2016-09-07")
    
    # return the difference between the 2 dates in days
    return (last_scraped - df[col]).dt.days

In [19]:
# from date to days since
data['host_since'] = DaysPassed('host_since', data)

In [20]:
# Amenities, clean
data['amenities'] = data['amenities'].replace("{", '', regex=True)
data['amenities'] = data['amenities'].replace("}", '', regex=True)
data['amenities'] = data['amenities'].replace("\"", '', regex=True)

# Convert to dummies
A = data['amenities'].str.get_dummies(sep= ",")
A = A.drop('translation missing: en.hosting_amenity_49', 1)
A = A.drop('translation missing: en.hosting_amenity_50', 1)

A.columns

Index(['24-Hour Check-in', 'Air Conditioning', 'Breakfast',
       'Buzzer/Wireless Intercom', 'Cable TV', 'Carbon Monoxide Detector',
       'Cat(s)', 'Dog(s)', 'Doorman', 'Dryer', 'Elevator in Building',
       'Essentials', 'Family/Kid Friendly', 'Fire Extinguisher',
       'First Aid Kit', 'Free Parking on Premises', 'Free Parking on Street',
       'Gym', 'Hair Dryer', 'Hangers', 'Heating', 'Hot Tub',
       'Indoor Fireplace', 'Internet', 'Iron', 'Kitchen',
       'Laptop Friendly Workspace', 'Lock on Bedroom Door', 'Other pet(s)',
       'Paid Parking Off Premises', 'Pets Allowed',
       'Pets live on this property', 'Pool', 'Safety Card', 'Shampoo',
       'Smoke Detector', 'Smoking Allowed', 'Suitable for Events', 'TV',
       'Washer', 'Washer / Dryer', 'Wheelchair Accessible',
       'Wireless Internet'],
      dtype='object')

In [21]:
# drop amenities columns
data = data.drop('amenities', 1)

In [22]:
# concatenate data with amenities
result = pd.concat([data, A], axis=1)
result.head()

,price,neighbourhood,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,square_feet,...,Safety Card,Shampoo,Smoke Detector,Smoking Allowed,Suitable for Events,TV,Washer,Washer / Dryer,Wheelchair Accessible,Wireless Internet
0,250.0,Roslindale,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,NaN,...,0,1,1,0,0,1,1,0,0,1
1,65.0,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,...,0,1,1,0,0,1,1,0,0,1
2,65.0,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,...,1,1,1,0,0,1,1,0,0,1
3,75.0,Roslindale,House,Private room,4,1.0,1.0,2.0,Real Bed,NaN,...,1,1,1,0,0,1,1,0,0,1
4,79.0,Roslindale,House,Private room,2,1.5,1.0,2.0,Real Bed,NaN,...,0,1,1,0,0,0,0,0,0,1

In [23]:
result.to_csv('data/Boston/result.csv', index=False)